.boxModal{
   animation: init 0.3s;
   transition: 1s;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   min-height: 50%;
   max-height: 90%;
   border-radius: 5px;
   box-shadow: 0 5px 50px -3px rgba(0, 0, 0, 0.511);


   .modalImagen{
      margin-top: 20px;
      background-color: #2222227d;
      border-radius: 5px;
      height: 90%;
      object-fit: cover;
   }

   .modalTexto{
      height: 67vh;
   }
}

@keyframes init {
   0%{
      opacity: 0;
      transform: translate(-50%, -60%);
   }
   100%{
      opacity: 1;
      transform: translate(-50%, -50%);
   }
}

@media screen and (max-width: 900px){
   .boxModal{
      max-height: 100%;
      height: 100%;

      .modalImagen{
         height: 30%;
      }

      .modalTexto{
         min-height: 100vh;
      }
   }
}