.container{
 justify-content: center;
 align-items: center;
 z-index: 3;
 position: fixed;
 height: 14vh;
 backdrop-filter: blur(3px);
 background-color: #22222288;
 box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.1);

 .logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2vh;

 }

 .contact{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2vh;
 }

 .link{
  position: relative;
  margin-right: 2rem;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.8rem;

  &:hover{
   transition: 0.3s;
   color: #c0c0c0;
  }
 }
 
 .burger{
   display: none;
 }
}

@media screen and (max-width: 900px){
 .container{
  .contact{
   display: flex;
   justify-content: center;
   align-items: center;

   p{
    display: none;
   }
  }

  .logo{
   align-items: center;
  }

  .link{
   display: none;
  }

  .burger{
      display: flex;
      justify-content: center;
      align-items: center;
   }
 }
}


@media screen and (max-width: 500px){
   .container{
      height: 10vh;
   }
 }